*.log
go_wrapper/main
go_wrapper/xdump_config
*.dat
agora_sdk/*
agora_sdk_mac/*
test_data/*
*.pcm
*.yuv
**/go.sum
**/main
*.bak
*.zip
*.mp4
*.h264
*.264
*.DS_Store
bin/*
go_sdk/agoraservice/bin/*
go_sdk/agoraservice/agora_sdk/*
go_sdk/agoraservice/agora_sdk_mac/*